.content-navDesc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0.4;
    background-image: linear-gradient(180deg, rgb(246,247,251), rgb(228,229,248));
}

.content-graph{
    flex: 0.6;
    background-image: linear-gradient(to bottom left, rgb(227,238,255), rgb(240,250,255));
}

.content-navDesc-nav{
    flex: 0.2;
    border-bottom: 1px solid rgb(222, 222, 222);
    padding: 10px;
}

.content-navDesc-desc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 0.8;
    padding: 10px;
}

.desc-content{

}

