.content-navDesc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0.4;
    background-image: linear-gradient(180deg, rgb(246,247,251), rgb(228,229,248));
}

.content-graph{
    flex: 0.6;
    background-image: linear-gradient(to bottom left, rgb(227,238,255), rgb(240,250,255));
}


.content-navDesc-desc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.desc-content{
    position: relative;
}

.editDevice{
    background-color: rgb(50,79,255);
    font-size: 15px;
    height: 35px;
    width: 110px;
    border-radius: 20px;
    color: white;
    padding: 5px;
    border: none;
}

