.App{
    display: flex;
    flex-wrap: wrap;
}

.sideNav{
    text-align: center;
    position: relative;
    padding: 50px 0px 0px 0px;
    flex: 0.2;
    height: 100vh;
    background-image: linear-gradient(180deg, rgb(183,221,242), rgb(168,205,252));
    transition: left 0.5s ease;
}

.content{
    flex: 0.8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.rightPanel{
    flex: 0.25;
    background-image: linear-gradient(180deg,rgb(206,224,245), rgb(251,251,254));
}